<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}Musée du Louvre{% endblock %}</title>

    {% block stylesheets %}
        {# On charge le CSS de bootstrap depuis le site directement #}
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ asset('css/billetterie.css') }}">
        <link rel="stylesheet"
              href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/css/bootstrap-datepicker.css">
    {% endblock %}

</head>

<body>

<div class="container">

    <div class="row">

        <div class="col-sm-3 sidebar">
            <img alt="logo louvre" class="logo" src= {{ asset('image/images.jpeg') }}>
            <h1>{% trans %}Musée du Louvre{% endtrans %}</h1>

            <div class="menu">
                <h4>{% trans %}Menu{% endtrans %}</h4>
                <ul class="nav nav-pills nav-stacked">
                    <li>
                        <a class="{% if app.request.attributes.get('_route') == 'accueil' %}navbar-brand{% endif %} "
                           href="{{ path('accueil') }}">{% trans %}Accueil{% endtrans %} <i
                                    class=" glyphicon glyphicon-home"></i> </a>
                    </li>

                    <li>
                        <a class="{% if app.request.attributes.get('_route') == 'tarifs' %}navbar-brand{% endif %}"
                           href="{{ path('tarifs') }}">{% trans %}Tarifs{% endtrans %}</a>
                    </li>

                    <li>
                        <a class="{% if app.request.attributes.get('_route') == 'aide' %}navbar-brand{% endif %}"
                           href="{{ path('aide') }}">{% trans %}Aide/FAQ{% endtrans %}</a>
                    </li>

                    <li>
                        <a class="{% if app.request.attributes.get('_route') == 'cgv' %}navbar-brand{% endif %}"
                           href="{{ path('cgv') }}">{% trans %}CGV{% endtrans %}</a>
                    </li>

                </ul>
            </div>

        </div><!-- /.sidebar -->

        <div class="col-sm-9 accueil">

            <h1>{% trans %}"Billetterie officielle"{% endtrans %}</h1>

            <div class="fil">
                {% block fil %}
                    <span class="couleur">{% trans %}Billetterie{% endtrans %}</span>
                    <i class=" glyphicon glyphicon-arrow-right"></i>

                    <span class="gris">
                        {% trans %} Information billet {% endtrans %}
                        <i class=" glyphicon glyphicon-arrow-right"></i>
                        {% trans %} Panier {% endtrans %}
                        <i class=" glyphicon glyphicon-arrow-right"></i>
                        {% trans %}Paiement{% endtrans %}
                        <i class=" glyphicon glyphicon-arrow-right"></i>
                        {% trans %}Confirmation{% endtrans %}
                    </span>
                {% endblock %}
                <hr>
            </div>

            <div class="louvre">
                {% if app.session.flashBag.has('notice') %}
                    <div class="alert alert-success">
                        {% for msg in app.session.flashBag.get('notice') %}
                            {{ msg }}
                        {% endfor %}
                    </div>
                {% endif %}

                {% block body %}

                {% endblock %}
            </div><!-- /.louvre -->
        </div><!-- /.accueil -->
    </div><!-- /.row -->

    <footer>
        <hr>
        <div class="auteur " style="text-align: center">
            <p>
                <a href=""><i class=" glyphicon glyphicon-user"></i></a>
            </p>
        </div>
    </footer>

</div><!-- /.container -->

{% block javascripts %}
    {# Ajoutez ces lignes JavaScript si vous comptez vous servir des fonctionnalités du bootstrap Twitter #}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/js/bootstrap-datepicker.min.js"></script>

    <script>
        jQuery(document).ready(function () {
            $('.js-datepicker').datepicker();
        });
    </script>

{% endblock %}

</body>
</html>