<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}Musée du Louvre{% endblock %}</title>

    {% block stylesheets %}
        {# On charge le CSS de bootstrap depuis le site directement #}
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ asset('css/billetterie.css') }}">
        <link rel="stylesheet"
              href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/css/bootstrap-datepicker.css">
    {% endblock %}

</head>

<body>

<div class="container">

    <div class="row">

        <div class="navbar-header hidden-md visible-md visible-xs navbar-fixed-top">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>


            <h4>{% trans %}Menu{% endtrans %}</h4>
            <div id="navbar" class="collapse navbar-collapse ">

                <ul class="nav nav-pills nav-stacked menu2 ">
                    <li>
                        <a class="{% if app.request.attributes.get('_route') == 'accueil' %}navbar-brand accueil {% endif %} "
                           href="{{ path('accueil') }}">{% trans %}Accueil{% endtrans %} <i
                                    class=" glyphicon glyphicon-home"></i> </a>
                    </li>

                    <li>
                        <a class="{% if app.request.attributes.get('_route') == 'tarifs' %}navbar-brand{% endif %}"
                           href="{{ path('tarifs') }}">{% trans %}Tarifs{% endtrans %}</a>
                    </li>

                    <li>
                        <a class="{% if app.request.attributes.get('_route') == 'aide' %}navbar-brand{% endif %}"
                           href="{{ path('aide') }}">{% trans %}Aide/FAQ{% endtrans %}</a>
                    </li>

                    <li>
                        <a class="{% if app.request.attributes.get('_route') == 'cgv' %}navbar-brand accueil{% endif %}"
                           href="{{ path('cgv') }}">{% trans %}CGV{% endtrans %}</a>
                    </li>

                </ul>
                <div class="droite">
                    {% if app.request.locale != 'en' %}
                        <a href="?_locale=en"> English <img alt="Flag" class="drapeaubis"
                                                            src= {{ asset('image/drapeau-royaume-uni.jpg') }}></a>
                    {% elseif app.request.locale != 'fr' %}
                        <a href="?_locale=fr">Français <img alt="Drapeau" class="drapeaubis"
                                                            src= {{ asset('image/drapeau-france.jpg') }}></a>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="col-sm-4 sidebar">
            <img alt="logo louvre" class="logo" src= {{ asset('image/louvre-pyramids.jpg') }}>
            <h1>{% trans %}Musée du Louvre{% endtrans %}</h1>

            <div class="menu hidden-xs ">
                <div id="navbar2" class="collapse navbar-collapse">
                    <div class="langue">
                        {% if app.request.locale != 'en' %}
                            <a href="?_locale=en"> <img alt="Flag" class="drapeau"
                                                        src= {{ asset('image/drapeau-royaume-uni.jpg') }}>English</a>
                        {% elseif app.request.locale != 'fr' %}
                            <a href="?_locale=fr"><img alt="Drapeau" class="drapeau"
                                                       src= {{ asset('image/drapeau-france.jpg') }}>Français</a>
                        {% endif %}
                    </div>
                    <h4>{% trans %}Menu{% endtrans %}</h4>


                    <ul class="nav nav-pills nav-stacked">
                        <li>
                            <a class="{% if app.request.attributes.get('_route') == 'accueil' %}navbar-brand  {% endif %} "
                               href="{{ path('accueil') }}">{% trans %}Accueil{% endtrans %} <i
                                        class=" glyphicon glyphicon-home"></i> </a>
                        </li>

                        <li>
                            <a class="{% if app.request.attributes.get('_route') == 'tarifs' %}navbar-brand{% endif %}"
                               href="{{ path('tarifs') }}">{% trans %}Tarifs{% endtrans %}</a>
                        </li>

                        <li>
                            <a class="{% if app.request.attributes.get('_route') == 'aide' %}navbar-brand{% endif %}"
                               href="{{ path('aide') }}">{% trans %}Aide/FAQ{% endtrans %}</a>
                        </li>

                        <li>
                            <a class="{% if app.request.attributes.get('_route') == 'cgv' %}navbar-brand{% endif %}"
                               href="{{ path('cgv') }}">{% trans %}CGV{% endtrans %}</a>
                        </li>

                    </ul>
                </div>
            </div>
            <div class="menu">
                <h6 class="infos_pratiques">{% trans %}Informations Pratiques{% endtrans %}</h6>

                    <p class="adresse">Museée du Louvre<br>
                    75058 Paris CEDEX 01<br>
                    France</p>

                <p class="tel">Tél. : +33 (0)1 40 20 53 17</p>

            </div>

        </div><!-- /.sidebar -->

        <div class="col-sm-8 accueil">

            <h1>{% trans %}"Billetterie officielle"{% endtrans %}</h1>

            <div class="fil">
                {% block fil %}
                    <span class="couleur">{% trans %}Billetterie{% endtrans %}</span>
                    <i class=" glyphicon glyphicon-arrow-right"></i>

                    <span class="gris">
                        {% trans %} Information billet {% endtrans %}
                        <i class=" glyphicon glyphicon-arrow-right"></i>
                        {% trans %} Panier {% endtrans %}
                        <i class=" glyphicon glyphicon-arrow-right"></i>
                        {% trans %}Paiement{% endtrans %}
                        <i class=" glyphicon glyphicon-arrow-right"></i>
                        {% trans %}Confirmation{% endtrans %}
                    </span>
                {% endblock %}
                <hr>
            </div>

            <div class="louvre">
                {% if app.session.flashBag.has('notice') %}
                    <div class="alert alert-success">
                        {% for msg in app.session.flashBag.get('notice') %}
                            {{ msg }}
                        {% endfor %}
                    </div>
                {% endif %}

                {% block body %}

                {% endblock %}
            </div><!-- /.louvre -->
        </div><!-- /.accueil -->
    </div><!-- /.row -->

    <footer>
        <hr>
        <div class="auteur " style="text-align: center">
            <p>
                {% trans %}© Musée du Louvre - Tous droits de reproduction réservés{% endtrans %}
            </p>
        </div>
    </footer>

</div><!-- /.container -->

{% block javascripts %}
    {# Ajoutez ces lignes JavaScript si vous comptez vous servir des fonctionnalités du bootstrap Twitter #}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/js/bootstrap-datepicker.min.js"></script>

    <script>
        var dateToday = new Date();

        jQuery(document).ready(function () {
            $('.js-datepicker').datepicker({
                startDate: dateToday,
                todayHighlight: true,
                weekStart: 1
            });
        });
    </script>

{% endblock %}

</body>
</html>
