{% extends "::layout.html.twig" %}

{% block body %}

    <div class="texte">
        <p>
            {% trans %}
            Pour commander, vous devez sélectionner :
        <ul>
            <li>
                Le jour de la visite
            </li>
            <li>
                Le type de billet (Journée, Demi-journée…).
            </li>
            <li>
                Le nombre de billet
            </li>
        </ul>
        Puis suivre les indications données
        {% endtrans %}
        </p>
    </div>

    <div class="formBillet col-sm-12">
        {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
        {{ form_errors(form) }}


        <h3>{% trans %}1. Choisissez une date{% endtrans %}</h3>

        <div class="form-group billetterie">

            {{ form_label(form.dateVisite, "Date de visite", {'label_attr': {'class': 'col-lg-3 control-label'}}) }}
            {{ form_errors(form.dateVisite) }}

            <div class="col-lg-5">
                {{ form_widget(form.dateVisite) }}
            </div>
        </div>

        <h3>{% trans %}2. Choisissez le type de billet{% endtrans %}</h3>

        <div class="form-group billetterie">

            {{ form_label(form.type, "Type de la visite", {'label_attr': {'class': 'col-lg-3 control-label'}}) }}
            {{ form_errors(form.type) }}

            <div class="col-lg-5 choix">
                {{ form_widget(form.type) }}
            </div>
        </div>

        <h3>{% trans %}3. Choisissez le nombre de billet{% endtrans %}</h3>

    <div class="form-group billetterie">

        {{ form_label(form.nbBillets, "Nombre de billets", {'label_attr': {'class': 'col-lg-3 control-label'}}) }}
        {{ form_errors(form.nbBillets) }}

    <div class="col-lg-5">
        {{ form_widget(form.nbBillets) }}
    </div>

        <input class="bouton" type="submit" value="Envoyer"/>
        {{ form_rest(form) }}

        {{ form_end(form) }}
    </div>
{% endblock %}