{% extends "::layout.html.twig" %}

{% block fil %}
    <span class="couleur">
        <a class="{% if app.request.attributes.get('_route') == 'accueil' %}navbar-brand{% endif %}
        " href="{{ path('accueil') }}">{% trans %} Billetterie {% endtrans %}</a>
        <i class=" glyphicon glyphicon-arrow-right"></i>
    {% trans %} Information billet {% endtrans %}
    </span>

    <span class="gris">
        <i class=" glyphicon glyphicon-arrow-right"></i>
        {% trans %} Panier {% endtrans %}
        <i class=" glyphicon glyphicon-arrow-right"></i>
        {% trans %} Paiement {% endtrans %}
        <i class=" glyphicon glyphicon-arrow-right"></i>
        {% trans %} Confirmation {% endtrans %}
    </span>
{% endblock %}

{% block body %}
    <h3>{% trans %}5. Renseignez les informations{% endtrans %}</h3>
    {{ form_start(form, {'method': 'POST'}) }}

    {% for formBillets in form.billets %}
        <div class="row infos">
            <div class="col-sm-3 numero">
                {% trans %} BILLET N°{% endtrans %}{{ loop.index }}
            </div>

            <div class="col-sm-9 info ">


                {{ form_label(formBillets.nom, "Nom") }}
                {{ form_errors(formBillets.nom) }}
                {{ form_widget(formBillets.nom) }}


                {{ form_label(formBillets.prenom, "Prénom") }}
                {{ form_errors(formBillets.prenom) }}
                {{ form_widget(formBillets.prenom) }}

                {{ form_label(formBillets.pays, "Pays") }}
                {{ form_errors(formBillets.pays) }}
                {{ form_widget(formBillets.pays) }}

                {{ form_label(formBillets.dateNaissance, "Date de naissance") }}
                {{ form_errors(formBillets.dateNaissance) }}
                {{ form_widget(formBillets.dateNaissance) }}

                {{ form_label(formBillets.tarifReduit, "Tarif réduit") }}
                {{ form_errors(formBillets.tarifReduit) }}
                {{ form_widget(formBillets.tarifReduit) }}

            </div>
        </div>
    {% endfor %}
    <div class="boutonInfo"> {{ form_row(form.enregistrer, {label: "Suivant"}) }} </div>

    {{ form_rest(form) }}
    {{ form_end(form) }}

    <a class="btn btn-default retour" href="{{ path('accueil') }}">
        <i class="glyphicon glyphicon-chevron-left"></i>
        {% trans %} Retour à la billetterie{% endtrans %}
    </a>
{% endblock %}